version: "3.8"

services:
  mysql:
    image: mysql:8-oraclelinux8
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo_db
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - default

  todo-app:
    build: .
    container_name: todo_app_container
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/todo_db
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    ports:
      - "8081:8080"
    restart: always
    networks:
      - default

  jenkins:
    build:
      context: ./jenkins
      dockerfile: Dockerfile
    container_name: jenkins_container
    user: root
    ports:
      - "9090:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      # <-- Mount the kubeconfig file directly (replace path with your Windows user/kube path)
      - /c/Users/hp-d/.kube/config:/root/.kube/config:ro
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      # optional: explicitly tell processes inside container where the kubeconfig is mounted
      - KUBECONFIG=/root/.kube/config
    networks:
      - default
      - kind    # attach to the kind network (external)

volumes:
  mysql_data:
  jenkins_home:

networks:
  default:
    driver: bridge

  kind:
    external: true
